<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tj.app.notice.NoticeMapper">
	<sql id="search">
		WHERE 
		
		<choose>
		<when test="kind=='v2'">NOTICE_CONTENT</when>
		<when test="kind=='v3'">PROFESSOR_NO</when>
		<otherwise>NOTICE_TITLE</otherwise>
		</choose>
		
		<!--  
		<if test="kind=='v1'">
		NOTICE_TITLE
		</if>
		
		<if test="kind=='v2'">
		NOTICE_CONTENT
		</if>
		
		<if test="kind=='v3'">
		NOTICE_PROFESSOR
		</if>
		
		<if test="kind==null">
		NOTICE_TITLE
		</if>
		-->
		
		LIKE '%'||#{search}|| '%'
	</sql>

	<select id="getCount" resultType="java.lang.Long" parameterType="Page">
		SELECT COUNT(*) FROM TB_NOTICE
		<include refid="search">
		</include>
	</select>

	<select id="list" resultType="NoticeDTO" parameterType="Page">

    SELECT * FROM
        (
            SELECT ROWNUM R, T.* FROM
            (
                SELECT * FROM TB_NOTICE
                <include refid="search">
				</include>
              	ORDER BY NOTICE_NO DESC) T
        )
    WHERE R BETWEEN #{first} AND #{last}

	</select>

	<select id="detail" resultType="NoticeDTO"
		parameterType="NoticeDTO">
		SELECT NOTICE_NO, NOTICE_TITLE, PROFESSOR_NO,
		NOTICE_DATE, NOTICE_VIEW
		FROM TB_NOTICE
		WHERE NOTICE_NO = #{noticeNo}
	</select>

	<insert id="create" parameterType="NoticeDTO">
		INSERT INTO TB_NOTICE
		VALUES(
		NOTICE_SEQ.NEXTVAL,
		#{noticeTitle},
		#{noticeContent},
		#{professorNo},
		SYSDATE,
		0)
	</insert>

	<update id="update" parameterType="NoticeDTO">
		UPDATE TB_NOTICE
		SET
		NOTICE_TITLE = #{noticeTitle},
		NOTICE_CONTENT = #{noticeContent}
		WHERE
		NOTICE_NO = #{noticeNo}
	</update>

	<delete id="delete" parameterType="NoticeDTO">
		DELETE FROM TB_NOTICE
		WHERE
		NOTICE_NO = #{noticeNo}
	</delete>

</mapper>
  
  
  
  
  
  
  